@page "/AppointmentDetailMairie/{idMairie:guid}"
@attribute [Authorize(Roles = "user")]
@using VillajourFrontend.Components.Layout

<NavMenuDetailMairie IdMairie="@idMairie" />

<h3>AppointmentDetailMairie</h3>


