<nav class="navbar navbar-expand-lg navbar-light bg-light" style=" box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 10px;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-between">
                <li class="nav-item flex-fill">
                    <a class="nav-link text-center active" href="/HomeDetailMairie/@idMairie">Accueil</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link text-center active" href="/AnnouncementDetailMairie/@idMairie">Annonce</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link text-center active" href="/AppointmentDetailMairie/@idMairie">Rendez-vous</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link text-center active" href="/EventDetailMairie/@idMairie">Événement</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link text-center active" href="/DocumentDetailMairie/@idMairie">Document</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar-nav .nav-item {
        flex: 1;
    }

    .navbar-nav .nav-link {
        text-align: center;
        color: #FF9505 !important;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .navbar-nav .nav-link:hover {
            background-color: rgba(255, 149, 5, 0.1);
            /* color: #FF9505 !important; */
        }
</style>
