<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VillajourFrontend</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/HomeDetailMairie" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Accueil de la mairie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AnnouncementDetailMairie" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Annonce de la mairie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/EventDetailMairie" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Evennement de la mairie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AppointmentDetailMairie" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Prendre rendez-vous
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/DocumentDetailMairie" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Document de la mairie
            </NavLink>
        </div>

    </nav>
</div>

