<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="villajour.png" alt="Vill'Ajour Logo" class="logo">
            Vill'Ajour
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/HomeMairie" Match="NavLinkMatch.All">
                <span class="fas fa-home icon-spacing" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AnnouncementMairie" Match="NavLinkMatch.All">
                <span class="fas fa-bullhorn icon-spacing" aria-hidden="true"></span> Annonce
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/EventMairie" Match="NavLinkMatch.All">
                <span class="fas fa-calendar-alt icon-spacing" aria-hidden="true"></span> Événement
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AppointmentMairie" Match="NavLinkMatch.All">
                <span class="fas fa-calendar-check icon-spacing" aria-hidden="true"></span> Rendez-vous
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/DocumentMairie" Match="NavLinkMatch.All">
                <span class="fas fa-file-alt icon-spacing" aria-hidden="true"></span> Document
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/DetailMairie" Match="NavLinkMatch.All">
                <span class="fas fa-user icon-spacing" aria-hidden="true"></span> Profil
            </NavLink>
        </div>
    </nav>
</div>
