.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: #E08547;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(224, 133, 71, 0.1);
    background-color: #FF9505;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(224, 133, 71, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(224, 133, 71, 0.1);
}

    .navbar-toggler:checked {
        background-color: #E08547;
    }

.logo {
    height: 40px;
    margin-right: 10px;
}


.top-row {
    height: 3.5rem;
    background-color: #f2f2f2;
    color: #E08547;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .top-row:hover {
        background: linear-gradient(to bottom right, #CC5803, #FFC971);
    }


.navbar-brand {
    font-size: 1.5rem; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #E08547;
    text-align: center;
    width: 100%;
}

.nav-link {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.nav-item {
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
        margin-bottom: 0;
    }

    .nav-item ::deep .nav-link {
        color: white !important;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
        text-decoration: none;
    }

.icon-spacing {
    margin-right: 15px;
    color: white !important;
    font-size: 1.2rem;
}

.nav-item ::deep .nav-link.active {
    background-color: #E08547;
}

.nav-item ::deep .nav-link:hover {
    background: linear-gradient(to bottom right,#FFC971,#FFB627 );
}

.nav-scrollable {
    display: none;
    background: linear-gradient(to bottom right, #CC5803, #FFC971);
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
