<!-- Pages/DetailEventFav.razor -->
@page "/DetailEventFav"
@using Radzen
@using Radzen.Blazor
@using VillajourFrontend.Dto.Event
@attribute [Authorize(Roles = "user")]

@if (Event != null)
{
    <p> Description : <br /> @Event.Description</p>
    <hr />
    <p>Adresse : <br /> @Event.Address</p>
    <hr />
    <p>Mairie : <br /> @Event.Mairie.Name</p>
}
else
{
    <p>Le détail de l'événement n'a pas été trouvé</p>
}