@page "/AppointmentMairie"
@inherits AppointmentMairieBase
@using Radzen
@using Radzen.Blazor
@using VillajourFrontend.Entity
@attribute [Authorize(Roles = "mairie")]

<div class="appointments-container">
    <h3>Réservation des places</h3>
    <RadzenScheduler style="height: 575px;" @ref="scheduler" TItem="Appointment" Data="appointments" lang="fr"
                     StartProperty="StartTime" EndProperty="EndTime" TextProperty="Title"
                     AppointmentSelect="OnAppointmentSelect"
                     SlotSelect="OnSlotSelect">
        <RadzenDayView />
        <RadzenWeekView />
        <RadzenMonthView />
    </RadzenScheduler>
</div>

<RadzenNotification />