@page "/AppointmentMairie"
@inherits AppointmentMairieBase
@using Radzen
@using Radzen.Blazor
@using VillajourFrontend.Entity

<div class="appointments-container">
    <h3>Réservation des places</h3>
    <RadzenScheduler @ref="scheduler" style="height: 768px;" TItem="VillajourFrontend.Entity.Appointment" Data="appointments"
                     StartProperty="DateStart" EndProperty="DateEnd" TextProperty="Title" SelectedIndex="2"
                     SlotSelect="OnSlotSelect" AppointmentSelect="OnAppointmentSelect"
                     AppointmentRender="OnAppointmentRender" SlotRender="OnSlotRender"
                     AppointmentMove="OnAppointmentMove">
        <RadzenDayView />
        <RadzenWeekView />
        <RadzenMonthView />
    </RadzenScheduler>

    <RadzenButton Text="Ajuster les plages d'horaires" Click="AdjustSlots" Class="adjust-btn" />
</div>

<RadzenNotification />

<style>
    .appointments-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .appointments-container h3 {
            margin-bottom: 20px;
        }

    .adjust-btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 20px;
        display: block;
    }
</style>
